.header {
    position: relative;
    width: 100vw;
    height: 70px;
    background: #50976a;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.cal {
    position: relative;
    width: 100vw;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    .cal_container {
        width: 75%;
        height: calc(100% - 100px);
        display: flex;
        border: 3px solid #000;
        border-radius: 10px;
        .calendar {
            width: 66.6%;
            height: 100%;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .settings {
                height: 35px;
                width: 100%;
                padding: 0 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .arrow {
                    cursor: pointer;
                    i {
                        font-size: 30px;
                    }
                }
                .datepicker {
                    position: relative;
                    width: 240px;
                    .dateText {
                        position: relative;
                        text-align: center;
                        line-height: 35px;
                        font-size: 20px;
                        user-select: none;
                        &:hover {
                            background: #F3F3F3;
                            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
                        }
                    }
                    .picker {
                        display: none;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        right: 0;
                        background: #5d5c58;
                        color: #fff;
                        padding: 10px;
                        .year {
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                        }
                        .months {
                            display: grid;
                            grid-template-columns: repeat(4, 1fr);
                            div {
                                text-align: center;
                                cursor: pointer;
                                border: 2px solid transparent;
                                &:hover {
                                    border: 2px solid #9c99a2;
                                }
                                &.selected {
                                    background: #9c99a2;
                                }
                            }
                        }
                    }
                }
            }
            .dates {
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
                .row {
                    display: grid;
                    grid-template-columns: repeat(7, 1fr);
                    .week {
                        border: 1px solid #222;
                        text-align: center;
                        &:nth-child(1) {
                            color: #f00;
                        }
                        &:nth-child(7) {
                            color: #00f;
                        }
                    }
                    .day {
                        border: 1px solid #222;
                        height: 65px;
                        &:nth-child(1) {
                            color: #f00;
                        }
                        &:nth-child(7) {
                            color: #00f;
                        }
                        &.grayed {
                            color: #80808087;
                        }
                        &.selected {
                            background: #e2f4de;
                        }
                        span {
                            display: inline-block;
                            padding: 0 5px;
                        }
                    }
                }
            }
        }
        .box {
            width: 33.3%;
            height: 100%;
            border-left: 3px solid #000;
            padding: 10px;
        }
    }
}